@import "variables";

html,
body,
#app {
  width: 100%;
  min-height: 100vh;
  background: $main-color;
  color: $complement-color-2;
}

a {
  color: $complement-color-2 !important;
  text-decoration: underline !important;
}

/* mouse over link */
a:hover {
  opacity: 0.6;
  text-decoration: none !important;
}

/* selected link */
a:active {
  color: blue;
}

#main-nav {
  background: $main-color-dark;
  //border-bottom: .5px solid $complement-color-2;

  .nav-link {
    &.disabled {
      opacity: 0.6;
      text-decoration: none !important;
    }
  }
}

.slider-card {
  width: 180px;
  height: 250px;
  background: white;
  margin: 0px 10px;

  .container-cover {
    position: relative;
    height: 100%;

    &:hover {
      .cover-overlay {
        opacity: 0.8;
      }
    }

    .cover-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: $sub-color;

      .text {
        color: white;
        font-size: 20px;
        position: absolute;
        font-weight: bold;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }

    }

    .slider-cover {
      height: 100%;
      width: 100%;
    }
  }
}

.VueCarousel-navigation-button {
  color: white !important;
  font-size: 20px !important;
  padding-bottom: 70px !important;
}

